.page-container{
    width: 500px;
}
@media (min-width:360px) and (max-width:590px){
    .page-container{
        width: 360px;
    }
}
@media (max-width:360px){
    .page-container{
        width: 280px;
    }
}